# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# TypeScript cache
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.production
.vercel

# Capacitor
apps/web/ios/App/Pods/
apps/web/ios/App/App/public/
apps/web/ios/App/build/
apps/web/ios/App/*.xcworkspace/xcuserdata/
apps/web/ios/App/*.xcodeproj/xcuserdata/
apps/web/ios/App/*.xcodeproj/project.xcworkspace/xcuserdata/
apps/web/android/app/build/
apps/web/android/.gradle/
